body {
    font-size: 16px;
    color: #000;
    background-color: #fbfbe1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/**HEADER**/
#header-nav{
    background-color: #4bbe57;
    border-radius: 3px;
    border: 2px;
    min-height: 80px;
}


.navbar-brand h1 {
    color:darkblue;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fbfbe1;
  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#collapsable-nav{
    background-color: #4bbe57;
}

#nav-list a {
    color:#000;
    font-weight: 900;
}

#nav-list a:hover {
    background: #fbfbe1;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #000;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
    
}

.menu {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #4bbe57;
}

#page-title {
    font-weight: 900;
}

#main-text {
    padding-left: 20px;
    padding-right: 20px;
    
}

.text-background {
    height: auto;
    padding: 20px 40px;
    overflow: hidden;
}

footer{
    padding: 20px;
}